body {
    font-family: "Comic Sans MS";
}

header {
    text-align: center;
}

#message {
  text-align: center;
  height: 25px;
}


#container {
  width:640px; 
  height: 425px; 
  margin:0 auto;
  padding-top:60px;
  border: 1px solid black;
  background: blanchedalmond;
  text-align: center;
}

#gameBoard {
  width:434px;
  height:280px;
  margin: auto;
  margin-top: 60px;
  display: flex;
}

.column {
	flex: 1;
	border: 1px solid black;
  height: 280px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.disc{
    width:46px;
    height:46px;
    border-radius:46px;
  }
  
#resetButton {
  width: 100px;
  margin-top: 20px;
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
      transform: translateY(-280px);
  }
  to {
      transform: translateY(0);
  }
}