body {
    font-family: "Comic Sans MS";
}

header {
    text-align: center;
}

#message {
  text-align: center;
  height: 25px;
}

#container {
  width:640px;  
  margin:0 auto;
  padding-top:60px;
  border: 1px solid black;
  background: blanchedalmond;
}

#gameBoard {
  width:434px;
  height:275px;
  margin: auto;
  margin-top: 60px;
  /* position:relative; */
  display: flex;
}

.column {
	flex: 1;
	border: 1px solid black;
  height: 275px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.disc{
    /* position:absolute; */
    /* z-index:-1;
    top:-55px;
    left:14px; */
    width:46px;
    height:46px;
    border-radius:46px;
    /* transition:all .3s; */
  
  }
  
  .disc.red{
    background:#d96666;
  }
  
  .disc.yellow{
    background:#ffeb79;
  }